{% extends 'dashbody.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
       
                    {% if form.errors %}
       
                   {% for error in form.non_field_errors %}
                                        <div class="row alert alert-danger" role="alert">
                                <div class="container">
                                                       {{ error|escape }}
                                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            </div>
                        {% endfor  %}
            {% endif %}

        <div class="row">
            <form action="{% url 'add-domain' %}" method="post">
                        <h3>{{ form_title }}</h3>
                        {{ form|crispy}}
                        {% csrf_token %}
                        <div class="row text-center">
                            <button class="btn btn-success col-md-6">
                               Add Domain
                            </button>
                        </div>
                    </form>     
        </div>
    </div>

{% endblock %}
